{% extends 'header.html' %}
{% load static %}

{% block content %}

<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('{% static '/images/virus.jpg' %}');
  min-height: 100%;
}
</style>
<body class="">

<!-- Sidebar with image -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
  <div class="bgimg"></div>
</nav>



<!-- Page Content -->
<div class="w3-main w3-padding-large w3-light-grey" style="margin-left:40%">

  <!-- Menu icon to open sidebar -->

	<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
		<h2>¿Que es el COVID-19?</h2>
		<hr class="w3-opacity">
		<p><h4>El Covid-19 <i>(Corona Virus Disease 2019)</i> es un virus de la familia Coronavirus
		que afectan tanto a animales como a humanos. Pueden provocar enfermedades que van desde
		resfriados hasta sindromes respiratorios. En los humanos es transmisible mediante contacto
		o vias respiratorias.Se presume que esta cepa tiene origen en la zoonosis, implicando que se
		transmitio originalmente desde animales hacia las personas.</h4></p>
    </div>

	<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
		<h2>¿Como prevenir el contagio?</h2>
		<hr class="w3-opacity">
		<p><h4>La Organización Mundial de la Salud (OMS) recomienda seguir precauciones estandares para
		evitar el contagio:
        <ul >
            <li>Lavarse las manos con agua y jabón con frecuencia o usar un desinfectante a base de alcohol.</li>
            <li>Cubrirse la boca y la nariz con el codo o un pañuelo descartable al toser o estornudar.</li>
            <li>El uso de barbijos es obligatorio al concurrir a lugares públicos.</li>
            <li>Evitar tocarse los ojos, la nariz y la boca si las manos no están limpias</li>
            <li>Evitar compartir platos, vasos, ropa de cama u otros objetos de la casa si uno de los miembros
				de la familia esta enfermo.</li>
            <li>Evitar el contacto con cualquier persona que este enferma o pueda estarlo.</li>
            <li>Limpiar y desinfectar las superficies con frecuencia</li>
            <li>Mantener el distanciamiento entre personas (recomendado 1.5 metros como mínimo)</li>
        </ul></h4></p>
    </div>

	<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
		<h2>¿Cuales son los sintomas?</h2>
		<hr class="w3-opacity">
		<p><h4>El virus comienza con manifestaciones similares a los de la gripe:
            <b><ul >
                <li>Fiebre</li>
                <li>Tos</li>
                <li>Dolor de cabeza</li>
                <li>Dolor de garganta</li>
                <li>Perdida de gusto y olfato</li>
                <li>Falta de aire</li>
                <li>Nauseas y vomitos</li>
            </ul></b>
        Ante todo, es vital informarse y mantener la calma.
        <b>El periodo de incubación es de 3 a 6 dias, con un máximo de 14</b>. En la mayoría de
		los casos la enfermedad es leve. Salvo algunas excepciones donde la enfermedad puede
		agravarse y esto depende de las condiciones preexistentes del paciente. <b>Son mas
			vulnerables quienes tienen enfermedades que afectan su sistema inmune o reciben
			tratamientos que disminuyen sus defensas, a su vez, están dentro de la categoría de
			riesgo los mayores de 65 años y portadores de patologías cronicas</b>.</h4></p>
    </div>

	<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
		<h2>¿Existe alguna cura?</h2>
		<hr class="w3-opacity">
		<p><h4>A la fecha no existe una cura. El tratamiento actual consiste en tratar los síntomas
		y el malestar general.
            Los antibioticos no son efectivos para el tratamiento de esta enfermedad. No se automedique.</h4></p>
    </div>

	<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
		<h2>La donacion de plasma como tratamiento</h2>
		<hr class="w3-opacity">
		<p><h4>La terapia con plasma es un procedimiento que se está utilizando para aumentar las
		posibilidades de mejora en pacientes con Covid-19.Cuando una persona tiene una infección,
		su organismo reacciona creando anticuerpos para defenderse. Una vez la persona se recupera,
		esos anticuerpos quedan almacenados en el plasma durante semanas o incluso años. La terapia
		de transfusión de plasma se basa en que un enfermo grave pueda recibir los anticuerpos contra
		el virus de una persona recuperada de Covid-19 y, de esta forma, brindarle una mejor
		perspectiva en su recuperación.</h4></p>
    </div>

  <!-- Footer -->
  <footer class="w3-container w3-padding-64 w3-light-grey w3-center w3-opacity w3-xlarge" style="margin:-24px">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
  <!-- End footer -->
  </footer>

<!-- END PAGE CONTENT -->
</div>

<script>
    $("#navDemo").hide();
    $("#icono").hide();
    $("#login").hide();
    $("#main").hide();
    $(".volver").show();

    function regresar(){
    window.location.href = "/";
    }
</script>

{% endblock %}