{% extends 'header.html' %}
{% load static %}

{% block content %}
<style>
body, h1,h2,h3,h4,h5,h6,p {font-family: "Montserrat", sans-serif}
.title{margin-top: 50px}
.volver{visibility: hidden;}
.main_art{display: inline-block;
width: 60%; background-color: orange;}
.other_art{display: inline-block; background-color: green;}
</style>


<div class= "main_art">
	<h2 class = "title">Hantavirus: Síntomas y formas de contagio</h2>
	<img src="/static/images/HantaVirus.png">
	<div>
		<h4>¿Qué es?</h4>
		<p>El <b>Hantavirus es una enfermedad viral aguda grave</b>, causada por el virus Hanta. Originalmente es muy similar al de las fiebres hemorrágicas, que son las que producen alteraciones de la coagulación (como el dengue). En Europa y en Asia este virus produce fiebre hemorrágica y enfermedad renal. Por el contrario, las <b>cepas americanas son más propensas a la enfermedad pulmonar</b>.</p>
		<br>
		<h4>¿Cómo se transmite?</h4>
		<p>Los huéspedes de este virus son los <b>roedores</b>. El Colilargo es uno de ellos, pero hay varias especies distintas según la zona. El ratón no sufre el virus, sólo lo transmite a través de la materia fecal u orina que se seca, vuela y se respira en el aire.
		<br>
		Las principales formas de transmisión son:</p>
		<ul>
			<li><b>Por inhalación</b>: Es la causa más frecuente. Cuando respiramos en lugares abiertos o cerrados (galpones, huertas, pastizales) que se encuentran contaminados.</li>
			<li><b>Por contacto directo</b>: Al tocar roedores vivos o muertos infectados, o las heces o la orina de estos roedores.</li>
			<li><b>Por mordeduras</b>: Al ser mordidos por roedores infectados.</li>
			<li><b>Por vía interhumana</b>: puede transmitirse entre personas a través del contacto estrecho con una persona infectada durante los primeros días de síntomas, a través de la vía aérea.</li>
		</ul>
		<br>
		<h4>¿Cuáles son los síntomas?</h4>
		<p>Los síntomas iniciales son parecidos a los de una gripe e incluyen: 
			<ul>
				<li>Fiebre.</li>
				<li>Dolores musculares.</li>
				<li>Dolor abdominal.</li>

			</ul>
		El síntoma más característico es la falta de aire, similar a una Neumonía. Lo particular del Hantavirus en la región americana es que produce <b>insuficiencia respiratoria</b>, lo que puede llevar a la muerte. Es un síndrome cardiopulmonar.
		</p>
	</div>
</div>

<div class= "other_art">
	<ul class="sidebar" type="none">
		<li><a href="" src=""></a>art1</li>
		<li><a href="" src=""></a>art2</li>
		<li><a href="" src=""></a></li>
		<li><a href="" src=""></a></li>
	</ul>
</div>


{% endblock %}