{% extends 'headerUser.html' %}
{% load static %}

{% block content %}

<!-- Header -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><span class="w3-hide-small">Clinica </span>Lorem Ipsum</span>
  </div>
</div>

<hr>
<div class="w3-center w3-container">
	<h3 class="w3-teal">Notificaciones</h3>
    <table class="w3-table w3-centered w3-border w3-striped w3-card  w3-hoverable ">
        {% if turno %}
            <tr class="w3-teal">
                <th>Especialista</th>
                <th>Fecha</th>
            </tr>
            {% for x in turno %}
            <tr>
                <td>{{x.especialista}}</td>
                <td>{{x.fecha}}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr class="w3-teal"><th>Proximos turnos</th></tr>
            <tr><td>No hay proximos turnos</td></tr>
        {% endif %}
    </table>
    <br>
</div>

<script>

    function toggleFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }
</script>
{% endblock %}